html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/sky_image.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

@media only screen and (max-width: 599px) {
    div {
        display: block;
        color: orange;
    }
}


@media only screen and (min-width: 600px) {
    .section {
        padding-bottom: 5px;
        padding-top: 30px;
        background-color: rgba(0,0,0,.5);
        color: white;
        text-align: center;
    }

    img {
        height: 100px;
    }

    #menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: rgba(255,255,255,.5);
        position: fixed;
        top: 0;
        padding: 15px;
        text-align: center;
        margin: 0 25%;
    }

    .menu_link {
        padding: 0 40px;
    }

    #head {
        text-align: center;
        padding-bottom: 5%;
    }

    #head_text {
        background-color: rgba(0,0,0,.5);
        padding: 50px;
        margin: 10% 35%;
        border: 5px solid rgba(135,206,235, .5);
        border-radius: 30px;
    }

    #head_scroll {
        margin: 0 50px;
    }

    #about {
        background-color: rgba(0,0,0,.8);
    }

    #about_list, #projects_list {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about_title {
        font-size: 20px;
        margin: 90px;
    }

    .about_description {
        background-color: rgba(255,255,255,.5);
        margin: 20px 20%;
        padding: 25px 0;
        color: black;
    }

    #skills {
        background-color: rgba(0,0,0,.5);
    }

    #skills_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .language {
        margin: 25px;
    }

    #projects {
        background-color: rgba(0,0,0,.8);
    }

    #education {
        background-color: rgba(0,0,0,.5);
    }

    #education_list {
        background-color: rgba(0,0,0,.8);
        margin: 0 20%;
        text-align: center;
        padding: 70px 200px;
        border-radius: 90px;
    }

    .school_description {
        border-top: solid white;
        padding: 10px 50px 40px 50px;
    }

    #contact {
        background-color: rgba(0,0,0,.8);
    }
}